:host {
  display: block;
}

.crypto {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.crypto td, .crypto th {
  border: 1px solid #ddd;
  padding: 8px;
}

.crypto tr:nth-child(even){background-color: #f2f2f2;}

.crypto tr:hover {background-color: #ddd;}

.crypto th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
